.price {
    padding-top: 60px;
    &__items {
        margin-top: 60px;
        padding: 0 60px;
        display: grid;
        grid-template: repeat(3, minmax(45px, auto)) / repeat(2, 365px);
        grid-auto-rows: minmax(45px, auto);
        justify-content: space-between;
        row-gap: 15px;
    }
    &__item {
        display: grid;
        /* grid-template: minmax(26px, auto) 14px / 235px 95px; */
        grid-template: repeat(2, minmax(21px, auto)) / repeat(2, auto);
        row-gap: 5px;
        padding-left: 25px;
        &-title {
            position: relative;
            &:before {
                content: '';
                position: absolute;
                width: 15px;
                height: 15px;
                left: -35px;
                top: 2px;
                border-radius: 100%;
                background: $main-color;
            }
        }
        &-total {
            font-weight: 700;
            font-size: 14px;
            line-height: 21px;
            justify-self: end;
        }
        &-subtitle {
            font-weight: 500;
            font-size: 12px;
            line-height: 18px;
            grid-column: 1 / 3;
        }
    }
}