.sidepanel {
    position: fixed;
    top: 220px;
    left: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    height: 340px;
    z-index: 3;
    img {
        &:hover {
            transition: all 0.6s;
            transform: scale(1.20);
        }
    }
    &__divider {
        width: 2px;
        height: 70px;
        background-color: #000;
        border: 2px solid #000000;
    }
    &__text {
        height: 150px;
        width: 25px;
        font-weight: 700;
        span {
            display: block;
            transform: rotate(-90deg) translate(-40%, -265%);
            width: 150px;
        }
    }
}